/* footer */
.footer {
  height: 250px;
}

.footer_wrap {
  border-top: 1px solid #dddddd;
}

.terms {
  width: 100%;
  height: 50px;
  background-color: #dddddd;
}

.footer_menu {
  width: 1194px;
  height: 50px;
  font-size: 16px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#f_select {
  width: 200px;
  height: 44px;
  background: white url(../images/select.png) no-repeat 90% 50%;
  padding: 10px;
  border: 1px solid gray;
  margin-left: 34px;
}

.footer_bottom {
  width: 1194px;
  height: 125px;
  margin: 40px auto;
  font-size: 13px;
  position: relative;
}

.footer_logo {
  float: left;
  margin-right: 50px;
  padding-bottom: 6px;
}

.fb_txt4 {
  color: #777777;
}
.ft_btn {
  padding: 10px;
  border: 1px solid gray;
}

/* .footer_menu li:after {
  content: "ㅣ";
  margin-left: 30px;
} */

.footer_menu li:nth-child(1):after {
  content: "ㅣ";
  margin-left: 30px;
}
.footer_menu li:nth-child(2):after {
  content: "ㅣ";
  margin-left: 30px;
}
.footer_menu li:nth-child(3):after {
  content: "ㅣ";
  margin-left: 30px;
}
.footer_menu li:nth-child(4):after {
  content: "ㅣ";
  margin-left: 30px;
}
