/* header 헤더 영역 */

#header {
  height: 197px;
  width: 100%;
  border-top: 1px solid #dddddd;
}

/* logo 로고영역 */

#logo {
  height: 98px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  margin: auto;
  text-align: center;
  padding-top: 5px;
}

#logo img {
  padding: 19px;
}
.logo__txt {
  width: 1194px;
  height: 98px;
  margin: auto;
  box-sizing: border-box;
}

/* #menu .gnb 메뉴영역 */

#gnb {
  height: 59px;
  border-bottom: 1px solid #dddddd;
}

.gnb_border {
  border-bottom: 2px solid #006fbb;
}

.menu_br {
  font-size: 18px;
}

#gnb h2 {
  position: absolute;
  left: -9999px;
  top: -9999px;
}
#gnb > ul {
  width: 1194px;
  height: 59px;
  margin: auto;
}
#gnb > ul > li {
  font-size: 18px;
  font-family: "나눔고딕";
  float: left;
  width: 14.28%;
  height: 59px;
  text-align: center;
  position: relative;
  z-index: 5;
}
#gnb > ul > li > a {
  display: block;
  height: 59px;
  padding: 15px;
}
#gnb ul ul {
  padding: 17px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 59px;
  display: none;
  line-height: 200%;
  font-size: 16px;
}
.nav__bg {
  position: relative;
  width: 100%;
  height: 235px; /** 서브메뉴 높이 수정 */
  background: white;
  display: none;
  border-bottom: 2px solid #dddddd;
  z-index: 4;
}

.sub_bdg {
  background: #e3f5ff;
}

.menu_pa {
  line-height: 200%;
}

.gnb__menu > li > ul {
  height: 233px; /** 서브메뉴 높이 수정 */
}

.menu_br {
  font-size: 18px;
}

.menu_wrap {
  background: linear-gradient(45deg, #1a1761, #0072bd);
  height: 51px;
}

.menu_bar {
  width: 100%;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
.mbr_txt {
  width: 1194px;
  text-align: right;
  margin: auto;
  color: white;
  padding: 15px;
  box-sizing: border-box;
}
